body > .container {
  padding: 60px 15px 0;
}
.container .text-muted {
  margin: 20px 0;
}
.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}
code {
  font-size: 80%;
}
.panel-body {
  padding: 10px 15px;
}
.expired {
  color: red;
}
.localized {
  font-style: italic;
}
.growl {
  position: fixed;
  top: 10px;
  right: 10px;
  float: right;
  width: 250px;
  z-index: 9999;
}
.list-group {
  margin-bottom: 10px;
}
.well {
  margin-bottom: 10px;
}
.panel {
  margin-bottom: 10px;
}
